.outer-container {
    /*border: 1px solid red;*/
    background-color: #E8E9ED;
    display: flex;
    flex-direction: column;
    /*margin: 50px;*/
    padding: 50px;
}



.posts {
    /*border: #2C2F39 1px solid;*/
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    flex-wrap: wrap;


}
.posts-short {
    width: 455px;
    /*border: #38E991 1px solid;*/
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    box-shadow: 4px 4px 1px 1px rgba(0, 0, 1, .2);

    /*column-gap: 30px;
    /*align-content: space-between;*/
    /*flex-wrap: wrap;*/
}
.post-link {
    text-decoration: underline;
    color: #38E991;

}

.post-link:hover {
    color: #B56576;
}
h1 {
    color: black;
}